%html
  %head
    %title Mission Control
  %body{ :style => 'background-color:#00a3fa;'}
    %p{ :style => 'color:#fefefe; text-align:center; font-size: 128px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; margin-top: 10%'} Mission Control